In [1]:
import pandas as pd
import numpy as np

# Load cleaned dataset from Chapter 3
df = pd.read_csv("../data/vix_spx_fred.csv", parse_dates=["DATE"])
df.set_index("DATE", inplace=True)

df.tail()

                SPX    VIX
DATE
2024-12-24  6040.04  14.27
2024-12-26  6037.59  14.73
2024-12-27  5970.84  15.95
2024-12-30  5906.94  17.40
2024-12-31  5881.63  17.35

In [2]:
# Daily returns
df["spx_ret"] = df["SPX"].pct_change()
df["vix_ret"] = df["VIX"].pct_change()

df[["spx_ret", "vix_ret"]].tail()

             spx_ret   vix_ret
DATE
2024-12-24  0.011043 -0.149583
2024-12-26 -0.000406  0.032235
2024-12-27 -0.011056  0.082824
2024-12-30 -0.010702  0.090909
2024-12-31 -0.004285 -0.002874

In [3]:
df["spx_logret"] = np.log(df["SPX"] / df["SPX"].shift(1))
df["vix_logret"] = np.log(df["VIX"] / df["VIX"].shift(1))

df[["spx_logret", "vix_logret"]].tail()

            spx_logret  vix_logret
DATE
2024-12-24    0.010982   -0.162028
2024-12-26   -0.000406    0.031727
2024-12-27   -0.011117    0.079573
2024-12-30   -0.010760    0.087011
2024-12-31   -0.004294   -0.002878

In [4]:
df["spx_vol_21"] = df["spx_logret"].rolling(21).std() * np.sqrt(252)
df["vix_vol_21"] = df["vix_logret"].rolling(21).std() * np.sqrt(252)

df[["spx_vol_21", "vix_vol_21"]].tail()

            spx_vol_21  vix_vol_21
DATE
2024-12-24    0.137112    2.422506
2024-12-26    0.136852    2.420862
2024-12-27    0.140977    2.432279
2024-12-30    0.145089    2.448257
2024-12-31    0.143692    2.441317

In [5]:
for lag in [1, 2, 5, 10]:
    df[f"spx_lag_{lag}"] = df["spx_logret"].shift(lag)
    df[f"vix_lag_{lag}"] = df["vix_logret"].shift(lag)

df.tail()

,SPX,VIX,spx_ret,vix_ret,spx_logret,vix_logret,spx_vol_21,vix_vol_21,spx_lag_1,vix_lag_1,spx_lag_2,vix_lag_2,spx_lag_5,vix_lag_5,spx_lag_10,vix_lag_10
DATE,,,,,,,,,,,,,,,,
2024-12-24,6040.04,14.27,0.011043,-0.149583,0.010982,-0.162028,0.137112,2.422506,0.007261,-0.089987,0.010810,-0.271622,-0.003871,0.077264,-0.002968,-0.000705
2024-12-26,6037.59,14.73,-0.000406,0.032235,-0.000406,0.031727,0.136852,2.420862,0.010982,-0.162028,0.007261,-0.089987,-0.029937,0.554110,0.008133,-0.043234
2024-12-27,5970.84,15.95,-0.011056,0.082824,-0.011117,0.079573,0.140977,2.432279,-0.000406,0.031727,0.010982,-0.162028,-0.000865,-0.136743,-0.005429,0.024729
2024-12-30,5906.94,17.40,-0.010702,0.090909,-0.010760,0.087011,0.145089,2.448257,-0.011117,0.079573,-0.000406,0.031727,0.010810,-0.271622,-0.000026,-0.007934
2024-12-31,5881.63,17.35,-0.004285,-0.002874,-0.004294,-0.002878,0.143692,2.441317,-0.010760,0.087011,-0.011117,0.079573,0.007261,-0.089987,0.003792,0.061774

In [6]:
df.to_csv("../data/vix_spx_features.csv")
print("Features saved to /data/vix_spx_features.csv")

Features saved to /data/vix_spx_features.csv